{{ 'sp-large-slogan.css' | asset_url | stylesheet_tag }}
<h1 class="sp-large-slogan">We’re a <span>book store</span> in <span class="nyc">NYC's</span> lower east side that sells <span>pickles</span> and used <span>books</span><img class="bookIllus" src="https://cdn.shopify.com/s/files/1/0583/3202/0894/files/book-illus.svg?v=1627331579" alt="small scribbly picture of a book"></h1>

