<a href="{{ cardUrl }}" class="index-card">
  <div class="card-wrapper">
    <div class="image-wrapper">
      <img src="{{ cardImage }}" alt="{{ title }}">
    </div>
      <p>{{ title }}</p>
  </div>
</a>