<p class="sp-small-slogan">We’re a <span>book store</span> in the <br />lower east side that sells <br /><span>pickles</span> and used <span>books</span><img class="bookIllus" src="https://cdn.shopify.com/s/files/1/0583/3202/0894/files/book-illus.svg?v=1627331579" alt="small scribbly picture of a book"></p>
<style>
.sp-small-slogan {
  text-align: left;
  font-size: var(--font-size-s);
  padding: 0;
  line-height: 1;
  color: var(--main-color);
  font-family: var(--sans);
  text-transform: uppercase;
  font-weight: bold;
}

.sp-small-slogan span {
  font-family: var(--serif);
  text-transform: initial;
  font-weight: normal;
  font-style: italic;
}

.sp-small-slogan .nyc {
  font-style: normal;
}
.sp-small-slogan .bookIllus {
  width: 1.5rem;
  margin-left: 0.5rem;
}
</style>
