{{ 'sp-about-page.css' | asset_url | stylesheet_tag }}
{%- render 'sp-large-slogan' -%}
<div class="about-page-main">
  <div>
    <h2>Our hours are</h2>
    <ul>
      <li>Monday</li>
      <li>Tuesday-Friday</li>
      <li>Saturday</li>
      <li>Sunday</li>
    </ul>
    <p>We buy books, libraries, records and weird things and accept donations of all genres, types and sizes. 
    </p>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/0583/3202/0894/files/1_4.png?v=1627397396" alt="Sweet Pickle Books poster with slogan: One thing leads to another">  
</div>
