{%- render 'sp-large-slogan' -%}
<div>
<button>Sweet Pickle Book Request Form</button>
<img src="https://cdn.shopify.com/s/files/1/0583/3202/0894/files/Screen_Shot_2021-07-06_at_10.58_1.png?v=1627332856" alt="">
<button>Request a curated collection</button>
</div>
<p>Hi! Thanks for trusting Sweet Pickle Books to help find what you're looking for. After you fill out this request, we will contact you directly with details before the order is completed. We'll do our best to get this to you asap. Thanks for your patience! Let the hunt begin! 
</p>
<button>Book Request Form</button>
<button>Curated Collection Form</button>


