<section class="index-collections">
  {%- render 'sp-collection-card', 
    title: collections['pickles'].title, 
    cardUrl: collections['pickles'].url, 
    cardImage: collections['pickles'].image
  -%}
  {%- render 'sp-collection-card', 
    title: collections['books'].title, 
    cardUrl: collections['books'].url, 
    cardImage: collections['books'].image 
  -%}
  {%- render 'sp-collection-card', 
    title: collections['rare'].title, 
    cardUrl: collections['rare'].url, 
    cardImage: collections['rare'].image 
  -%}
  {%- render 'sp-collection-card', 
    title: collections['merch'].title, 
    cardUrl: collections['merch'].url, 
    cardImage: collections['merch'].image 
  -%}
  {%- render 'sp-page-card', 
    title: 'Requests', 
    cardUrl: '/pages/contact', 
    cardImage: 'https://cdn.shopify.com/s/files/1/0583/3202/0894/files/Screen_Shot_2021-07-06_at_10.58_1.png?v=1627332856'
  -%}
  {%- render 'sp-page-card', 
    title: 'Gift Card', 
    cardUrl: '/products/sweet-pickles-gift-card', 
    cardImage: 'https://cdn.shopify.com/s/files/1/0583/3202/0894/files/Frame_9.png?v=1627332869'
  -%}
</section>
<style>
  .index-collections {
    display: flex;
    flex-wrap: wrap;
  }
  .index-card {
    width: calc(100% / 3);
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .card-wrapper .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-variant);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 23px;

    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
    height: calc((100vw / 3) - 5vw);
  }

  .card-wrapper .image-wrapper img {
    max-width: 90%;
    max-height: 90%;
  }

  .card-wrapper p {
    margin: 0;
    font-family: var(--serif);
    font-style: italic;
    font-size: var(--font-size-m);
    color: var(--main-color);
    text-decoration: none;
  }

</style>