<section>
<h1>We’re a book store in NYC’slower east side that sells pickles and used books</h1>
<div>
  <a>Shop Merch</a>
  <img src="" alt="">
  <a>Shop Books</a>
</div>
<footer>
  <p>Sweet Pickle Books</p>
  <p>Address</p>
</footer>
</section>
