<header>
  <a href="/">Sweet Pickle Books</a>
  <p>47 Orchard Street New York NY 10002</p>
  <a href="/pages/about">About</a>
  <a href="/collections/books">Shop Book</a>
  <a href="/collections/merch">Shop Merch</a>
  <a href="/pages/contact">Book Request</a>
  <a href="/cart">Cart</a>
</header>