.index-landing {
  margin-left: 10rem;
  margin-right: 10rem;
}

.index-landing .mainLanding {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index-landing .mainIllus{
  display: flex;
  flex-direction: column;
}

.index-landing .mainLanding a {
  font-size: 3rem;
  text-align: center;
}

.index-landing .mainLanding a .sansLabel {
  display: block;
  font-family: var(--sans);
  font-weight: bold;
  color: var(--main-color);
}
.index-landing .mainLanding a .serifLabel {
  display: block;
  font-family: var(--serif);
  font-style: italic;
  color: var(--main-color);
}

.index-landing footer {
  display: flex;
  justify-content: space-between;
}
